body {
	padding-top: 0px;
	font-family: 'Ubuntu', sans-serif;
}

thead tr {
	background-color: dimgrey;
	font-weight:bold;
}

thead td {
	font-size:14px;
}

tbody td {
	font-size:13px;
}

tbody tr:nth-child(odd) {
	background-color: white;
}

tbody tr:nth-child(even) {
	background-color: lightgrey;
}

.content {
	min-width: 800px;
	padding: 10px;
	margin: 10px auto 10px auto;
}