{% extends "base.html" %}

{%- block title %}
<title>Deployed listener</title>
{%- endblock title %}

{%- block body %}
<div class="content">
<h1>Details</h1>
	<table cellpadding="4" cellspacing="1">
		<thead>
			<tr><td>ID</td><td>Webhook peer</td><td>Blockchain event</td><td>Conditions</td><td>Python module</td><td>Hits</td></tr>
		</thead>
		<tbody>
	{%- for data in webhooks %}
		{%- set action = ".".join(data["target"].split("/")[-2:]) %}
		<tr>
			<td><a href="{{data['peer']}}/api/webhooks/{{ data['id'] }}" target="_blank">{{ data["id"] }}</a></td>
			<td>{{ data["peer"] }}</td>
			<td>{{ data["event"] }}</td>
			<td>
		{%- for cond in data["conditions"] %}
			<p style="padding:0px;margin:0px;">
				{{ ("%(key)s&nbsp;|&nbsp;%(condition)s&nbsp;|&nbsp;%(value)s" % cond)|safe }}
			</p>
		{%- endfor %}
			</td>
			<td>{{ action }}</td>
			<td>{{ counts[action] }}</td>
		</tr>
	{%- endfor %}
		</tbody>
	</table>
</div>
{%- endblock body %}
