{% extends "base.html" %}

{%- block title %}
<title>Deployed listener</title>
{%- endblock title %}

{%- block body %}
<div class="container">

<h1>Deployed listener</h1>

<h2>Aware mode</h2>

	<div class="table-responsive-xl">
	<table class="table table-hover table-sm">
		<thead class="thead-light">
			<tr><th>ID</th><th>Webhook peer</th><th>Blockchain event</th><th>Conditions</th><th>Python module</th><th>Hits</th></tr>
		</thead>
		<tbody>
	{%- for data in webhooks %}
		{%- set autorization = data["token"][:32] %}
		{%- set action = ".".join(data["target"].split("/")[-2:]) %}
		<tr>
			<td><a href="{{ data['peer'] }}/api/webhooks/{{ data['id'] }}" target="_blank">{{ data["id"] }}</a></td>
			<td>{{ data["peer"] }}</td>
			<td>{{ data["event"] }}</td>
			<td>
		{%- for cond in data["conditions"] %}
			<p style="padding:0px;margin:0px;">
				{{ ("%(key)s&nbsp;|&nbsp;%(condition)s&nbsp;|&nbsp;%(value)s" % cond)|safe }}
			</p>
		{%- endfor %}
			</td>
			<td>{{ action }}</td>
			<td>{{ counts[autorization] }}</td>
		</tr>
	{%- endfor %}
		</tbody>
	</table>
	</div>

<h2>Unaware mode</h2>

	<div class="table-responsive-xl">
	<table class="table table-hover table-sm">
		<thead class="thead-dark">
			<tr><th>Python module</th><th>Hits</th></tr>
		</thead>
		<tbody>
	{%- for key,value in tinies.items() %}
		<tr>
			<td>{{ value }}</td>
			<td>{{ counts[key] }}</td>
	{%- endfor %}
		</tr>
		</tbody>
	</table>
	</div>

</div>
{%- endblock body %}
